---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<html>
  <body>
    <p></p>
    <h3 style="margin:0;padding:0">1. Learning Assistant (LA) </h3>
    <h6 style="margin:0;padding:0">Undergraduate courses, UC Davis, Department of Mathematics, 2020-2021 </h6>
    <p style="margin-top:5px"> I was an LA for various math courses which covered topics such as calculus, differential equations, combinatorics, and probability. 
      I answered student questions in class and/or in office hours regarding their math coursework.   
    </p>

    <h3 style="margin:0;padding:0">2. AVID Tutor </h3>
    <h6 style="margin:0;padding:0">Algebra coursework, Dublin High School, 2018 </h6>
    <p style="margin-top:5px"> AVID (Advancement via Individual Determination) is a program that helps prepare high school students for college. 
      Twice a week for a semester I met with a group of AVID students and faciliated their tutorials. 
      In these tutorials, I helped students with their algebra homework using the Socratic method of instruction (per AVID guidelines). 
    </p>
  </body>
</html>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
