---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<html>
  <body>
    <h3 style="margin:0;padding:0">1. Learning Assistant (LA) </h3>
    <h6 style="margin:0;padding:0">Undergraduate courses, UC Davis, Department of Mathematics, 2020-2021 </h6>
    <p style="margin:0;padding:0px 0px 0px 5px"> I was an LA for various math courses which covered topics such as calculus, differential equations, combinatorics, and probability. 
      I answered student questions in class and/or in office hours regarding their math coursework.   
    </p>
  </body>
</html>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
